# Appwrite Configuration
VITE_APPWRITE_PROJECT_ID=68dd1321000ff8ca3f65
VITE_APPWRITE_ENDPOINT=https://fra.cloud.appwrite.io/v1
VITE_APPWRITE_DB_ID=68de6d520003b0b5a475
VITE_APPWRITE_PROFILE_COLLECTION_ID=9213506847
VITE_APPWRITE_STORAGE_ID=68dd32cf000876f0679e
VITE_APPWRITE_BLOG_COLLECTION_ID=5BxL8kPq9W
VITE_APPWRITE_COMMENT_COLLECTION_ID=
